<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Cotent-Type" content="text/html; charset=UTF-8">
<title>Practice V2</title>
</head>
<body>
	<h2>Spring Boot Practice V2</h2>
	
	<h3>#1. login (Spring Boot Security)</h3>
	<form action="/login" method="post">
	<table>
		<tbody>
			<tr>
				<th colspan="2" align="center" th:text="${model}"></th>
			</tr>
			<tr>
				<th align="left">아이디    : </th>
				<td><input type="text" name="m_id" id="m_id"/></td>
				<th rowspan="2" align="right"><input type="submit" id="login" value="로그인"></th>
			</tr>
			<tr>
				<th align="left">비밀번호 : </th>
				<td><input type="password" name="m_pw" id="m_pw"/></td>
			</tr>
		</tbody>
	</table>
	</form>
	<h3>#2. multiple_datasource 호출 (JSON)</h3>
	<ul>
		<li><a href="/bookInfo">책정보 리스트(mariaDB)</a></li>
		<li><a href="/empInfo">직원정보 리스트(oracle)</a></li>
		<li><a href="/BdsTestInfo">테스트 테이블 리스트(PostgreSQL)</a></li>
	</ul>
	<h3>#3. aop 설정과 page 이동</h3>
	<h5>※ 로그인 하지 않은 경우 해당 링크에 접속 불가 처리</h5>
	<br>
	<br>
	<h3>#4. TaskAPI 시뮬레이션 태스트</h3>
	<ul>
		<li><a href="/board/taskList">TaskList 조회 화면</a></li>
		<li><a href="/board/taskList3">TaskList3 조회 화면</a></li>
	</ul>
</body>
</html>